{% extends "base.html" %}
{% block title %}Signup{%endblock%}
{% block content %}
<form method='post'>
  <table>
    <tbody>
      <tr>
        <td class="label">Username</td>
        <td><input type="text" name="username" value="{{username}}"></td>
        <td class="error">{{error.user_error}}  </td>
      </tr>

      <tr>
        <td class="label">Password</td>
        <td><input type="password" name="password" value=""></td>
        <td class="error">{{error.valid_pass_error}}</td>
      </tr>

      <tr>
          <td class="label">Verify Password</td>
          <td><input type="password" name="verify" value=""></td>
          <td class="error">{{error.pass_match_error}}</td>
      </tr>

      <tr>
          <td class="label">Email (optional)</td>
          <td><input type="email" name="email" value="{{email}}"></td>
          <td class="error">{{error.email_error}}</td>
      </tr>
    </tbody>
  </table>
  <input type="submit"/>
</form>
{% endblock %}